# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Env
venv/
.venv/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Secrets
auth_config.yaml
secrets.toml

# Streamlit
.streamlit/
